In [1]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load data
df=pd.read_excel(r"C:\Users\mohan reddy\OneDrive\Desktop\self project\Superstore Dataset.xlsx")
df

,A`,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,4962,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,98103.0,West,FUR-CH-10004477,Furniture,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801
1,4963,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,98103.0,West,OFF-AR-10001427,Office Supplies,Art,Newell 330,17.940,3,0.0,4.6644
2,4964,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,98103.0,West,OFF-ST-10002344,Office Supplies,Storage,"Carina 42""Hx23 3/4""W Media Storage Unit",242.940,3,0.0,4.8588
3,8223,CA-2016-152905,2016-02-18,2016-02-24,Standard Class,AB-10015,Aaron Bergman,Consumer,United States,Arlington,...,76017.0,Central,OFF-ST-10000321,Office Supplies,Storage,Akro Stacking Bins,12.624,2,0.2,-2.5248
4,8802,CA-2018-140935,2018-11-10,2018-11-12,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,...,73120.0,Central,TEC-PH-10000562,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,3815,CA-2018-152471,2018-07-08,2018-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,32216.0,South,TEC-PH-10002824,Technology,Phones,Jabra SPEAK 410 Multidevice Speakerphone,823.960,5,0.2,51.4975
9990,3816,CA-2018-152471,2018-07-08,2018-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,32216.0,South,OFF-PA-10004965,Office Supplies,Paper,Xerox 1921,15.984,2,0.2,4.9950
9991,5898,CA-2018-167682,2018-04-03,2018-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,47374.0,Central,FUR-FU-10003799,Furniture,Furnishings,"Seth Thomas 13 1/2"" Wall Clock",71.120,4,0.0,22.0472
9992,5899,CA-2018-167682,2018-04-03,2018-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,47374.0,Central,TEC-PH-10000673,Technology,Phones,Plantronics Voyager Pro HD - Bluetooth Headset,259.960,4,0.0,124.7808
9993,8342,CA-2019-141481,2019-06-11,2019-06-14,First Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Los Angeles,...,90036.0,West,OFF-AP-10004532,Office Supplies,Appliances,Kensington 6 Outlet Guardian Standard Surge Pr...,61.440,3,0.0,16.5888

In [3]:
#checking information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   A`              9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   datetime64[ns]
 3   Ship Date       9994 non-null   datetime64[ns]
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 1.6+ MB

In [4]:
df.describe()

,A`,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994,9994,9983.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2018-04-30 10:03:51.979187712,2018-05-04 09:03:29.645787392,55245.233297,229.858001,3.789574,0.156203,28.656896
min,1.000000,2016-01-03 00:00:00,2016-01-07 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,2017-05-23 00:00:00,2017-05-27 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,2018-06-26 00:00:00,2018-06-29 00:00:00,57103.000000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,2019-05-14 00:00:00,2019-05-18 00:00:00,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,2019-12-30 00:00:00,2020-01-05 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,2885.163629,NaN,NaN,32038.715955,623.245101,2.225110,0.206452,234.260108

In [5]:
df.isnull().sum()

A`                 0
Order ID           0
Order Date         0
Ship Date          0
Ship Mode          0
Customer ID        0
Customer Name      0
Segment            0
Country/Region     0
City               0
State              0
Postal Code       11
Region             0
Product ID         0
Category           0
Sub-Category       0
Product Name       0
Sales              0
Quantity           0
Discount           0
Profit             0
dtype: int64

In [6]:
duplicate=df.duplicated().sum()
print(duplicate)

0

In [7]:
df=df.drop_duplicates()
df

,A`,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,4962,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,98103.0,West,FUR-CH-10004477,Furniture,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801
1,4963,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,98103.0,West,OFF-AR-10001427,Office Supplies,Art,Newell 330,17.940,3,0.0,4.6644
2,4964,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,98103.0,West,OFF-ST-10002344,Office Supplies,Storage,"Carina 42""Hx23 3/4""W Media Storage Unit",242.940,3,0.0,4.8588
3,8223,CA-2016-152905,2016-02-18,2016-02-24,Standard Class,AB-10015,Aaron Bergman,Consumer,United States,Arlington,...,76017.0,Central,OFF-ST-10000321,Office Supplies,Storage,Akro Stacking Bins,12.624,2,0.2,-2.5248
4,8802,CA-2018-140935,2018-11-10,2018-11-12,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,...,73120.0,Central,TEC-PH-10000562,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,3815,CA-2018-152471,2018-07-08,2018-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,32216.0,South,TEC-PH-10002824,Technology,Phones,Jabra SPEAK 410 Multidevice Speakerphone,823.960,5,0.2,51.4975
9990,3816,CA-2018-152471,2018-07-08,2018-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,32216.0,South,OFF-PA-10004965,Office Supplies,Paper,Xerox 1921,15.984,2,0.2,4.9950
9991,5898,CA-2018-167682,2018-04-03,2018-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,47374.0,Central,FUR-FU-10003799,Furniture,Furnishings,"Seth Thomas 13 1/2"" Wall Clock",71.120,4,0.0,22.0472
9992,5899,CA-2018-167682,2018-04-03,2018-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,47374.0,Central,TEC-PH-10000673,Technology,Phones,Plantronics Voyager Pro HD - Bluetooth Headset,259.960,4,0.0,124.7808
9993,8342,CA-2019-141481,2019-06-11,2019-06-14,First Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Los Angeles,...,90036.0,West,OFF-AP-10004532,Office Supplies,Appliances,Kensington 6 Outlet Guardian Standard Surge Pr...,61.440,3,0.0,16.5888

In [9]:
#Total rows, columns, datatypes
df.shape

(9994, 21)

In [10]:
#Convert Order Date / Return Date to datetime
df["Order Date"]=pd.to_datetime(df["Order Date"])
df["Ship Date"]=pd.to_datetime(df["Ship Date"])
df

,A`,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,4962,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,98103.0,West,FUR-CH-10004477,Furniture,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801
1,4963,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,98103.0,West,OFF-AR-10001427,Office Supplies,Art,Newell 330,17.940,3,0.0,4.6644
2,4964,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,98103.0,West,OFF-ST-10002344,Office Supplies,Storage,"Carina 42""Hx23 3/4""W Media Storage Unit",242.940,3,0.0,4.8588
3,8223,CA-2016-152905,2016-02-18,2016-02-24,Standard Class,AB-10015,Aaron Bergman,Consumer,United States,Arlington,...,76017.0,Central,OFF-ST-10000321,Office Supplies,Storage,Akro Stacking Bins,12.624,2,0.2,-2.5248
4,8802,CA-2018-140935,2018-11-10,2018-11-12,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,...,73120.0,Central,TEC-PH-10000562,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,3815,CA-2018-152471,2018-07-08,2018-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,32216.0,South,TEC-PH-10002824,Technology,Phones,Jabra SPEAK 410 Multidevice Speakerphone,823.960,5,0.2,51.4975
9990,3816,CA-2018-152471,2018-07-08,2018-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,32216.0,South,OFF-PA-10004965,Office Supplies,Paper,Xerox 1921,15.984,2,0.2,4.9950
9991,5898,CA-2018-167682,2018-04-03,2018-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,47374.0,Central,FUR-FU-10003799,Furniture,Furnishings,"Seth Thomas 13 1/2"" Wall Clock",71.120,4,0.0,22.0472
9992,5899,CA-2018-167682,2018-04-03,2018-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,47374.0,Central,TEC-PH-10000673,Technology,Phones,Plantronics Voyager Pro HD - Bluetooth Headset,259.960,4,0.0,124.7808
9993,8342,CA-2019-141481,2019-06-11,2019-06-14,First Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Los Angeles,...,90036.0,West,OFF-AP-10004532,Office Supplies,Appliances,Kensington 6 Outlet Guardian Standard Surge Pr...,61.440,3,0.0,16.5888

In [12]:
#Extract Year, Month, Day
df["year"]=df["Order Date"].dt.year
df["month"]=df["Order Date"].dt.month_name()
df["day"]=df["Order Date"].dt.day_name()
df

,A`,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,year,month,day
0,4962,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,Furniture,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801,2016,March,Monday
1,4963,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,Office Supplies,Art,Newell 330,17.940,3,0.0,4.6644,2016,March,Monday
2,4964,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,Office Supplies,Storage,"Carina 42""Hx23 3/4""W Media Storage Unit",242.940,3,0.0,4.8588,2016,March,Monday
3,8223,CA-2016-152905,2016-02-18,2016-02-24,Standard Class,AB-10015,Aaron Bergman,Consumer,United States,Arlington,...,Office Supplies,Storage,Akro Stacking Bins,12.624,2,0.2,-2.5248,2016,February,Thursday
4,8802,CA-2018-140935,2018-11-10,2018-11-12,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,...,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,2018,November,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,3815,CA-2018-152471,2018-07-08,2018-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,Technology,Phones,Jabra SPEAK 410 Multidevice Speakerphone,823.960,5,0.2,51.4975,2018,July,Sunday
9990,3816,CA-2018-152471,2018-07-08,2018-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,Office Supplies,Paper,Xerox 1921,15.984,2,0.2,4.9950,2018,July,Sunday
9991,5898,CA-2018-167682,2018-04-03,2018-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,Furniture,Furnishings,"Seth Thomas 13 1/2"" Wall Clock",71.120,4,0.0,22.0472,2018,April,Tuesday
9992,5899,CA-2018-167682,2018-04-03,2018-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,Technology,Phones,Plantronics Voyager Pro HD - Bluetooth Headset,259.960,4,0.0,124.7808,2018,April,Tuesday
9993,8342,CA-2019-141481,2019-06-11,2019-06-14,First Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Los Angeles,...,Office Supplies,Appliances,Kensington 6 Outlet Guardian Standard Surge Pr...,61.440,3,0.0,16.5888,2019,June,Tuesday

In [17]:
#Delivery Days (Return Date – Order Date)
df["Delivery Days"] = (df["Ship Date"] - df["Order Date"]).dt.days
df

,A`,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,year,month,day,Delivery Days
0,4962,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,Chairs,"Global Push Button Manager's Chair, Indigo",48.712,1,0.2,5.4801,2016,March,Monday,1
1,4963,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,Art,Newell 330,17.940,3,0.0,4.6644,2016,March,Monday,1
2,4964,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,Storage,"Carina 42""Hx23 3/4""W Media Storage Unit",242.940,3,0.0,4.8588,2016,March,Monday,1
3,8223,CA-2016-152905,2016-02-18,2016-02-24,Standard Class,AB-10015,Aaron Bergman,Consumer,United States,Arlington,...,Storage,Akro Stacking Bins,12.624,2,0.2,-2.5248,2016,February,Thursday,6
4,8802,CA-2018-140935,2018-11-10,2018-11-12,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,...,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,2018,November,Saturday,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,3815,CA-2018-152471,2018-07-08,2018-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,Phones,Jabra SPEAK 410 Multidevice Speakerphone,823.960,5,0.2,51.4975,2018,July,Sunday,0
9990,3816,CA-2018-152471,2018-07-08,2018-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,Paper,Xerox 1921,15.984,2,0.2,4.9950,2018,July,Sunday,0
9991,5898,CA-2018-167682,2018-04-03,2018-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,Furnishings,"Seth Thomas 13 1/2"" Wall Clock",71.120,4,0.0,22.0472,2018,April,Tuesday,6
9992,5899,CA-2018-167682,2018-04-03,2018-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,Phones,Plantronics Voyager Pro HD - Bluetooth Headset,259.960,4,0.0,124.7808,2018,April,Tuesday,6
9993,8342,CA-2019-141481,2019-06-11,2019-06-14,First Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Los Angeles,...,Appliances,Kensington 6 Outlet Guardian Standard Surge Pr...,61.440,3,0.0,16.5888,2019,June,Tuesday,3

In [20]:
# NumPy Calculations
print("max sales",np.max(df["Sales"]))
print("min sales",np.min(df["Sales"]))
print("Avg sales",np.mean(df["Sales"]))

max sales 22638.48
min sales 0.44399999999999995
Avg sales 229.85800083049827

In [24]:
#Which product generated the highest sales?
df.groupby("Order ID")["Sales"].sum().sort_values

<bound method Series.sort_values of Order ID
CA-2016-100006     377.970
CA-2016-100090     699.192
CA-2016-100293      91.056
CA-2016-100328       3.928
CA-2016-100363      21.376
                    ...
US-2019-168802      18.368
US-2019-169320     171.430
US-2019-169488      56.860
US-2019-169502     113.410
US-2019-169551    1344.838
Name: Sales, Length: 5009, dtype: float64>

In [25]:
#Which customer placed the most orders?
df["Customer Name"].value_counts()

Customer Name
William Brown        37
Matt Abelman         34
Paul Prost           34
John Lee             34
Jonathan Doherty     32
                     ..
Anthony O'Donnell     1
Ricardo Emerson       1
Jocasta Rupert        1
Lela Donovan          1
Carl Jackson          1
Name: count, Length: 793, dtype: int64

In [36]:
# Return vs Not Returned orders
df["return_status"]=df["Profit"].apply(lambda x: "Return" if x < 0 else "Not Return")
df

,A`,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Sales,Quantity,Discount,Profit,year,month,day,Delivery Days,return_status,Return_Status
0,4962,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,48.712,1,0.2,5.4801,2016,March,Monday,1,Not Return,Not Return
1,4963,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,17.940,3,0.0,4.6644,2016,March,Monday,1,Not Return,Not Return
2,4964,CA-2016-156587,2016-03-07,2016-03-08,First Class,AB-10015,Aaron Bergman,Consumer,United States,Seattle,...,242.940,3,0.0,4.8588,2016,March,Monday,1,Not Return,Not Return
3,8223,CA-2016-152905,2016-02-18,2016-02-24,Standard Class,AB-10015,Aaron Bergman,Consumer,United States,Arlington,...,12.624,2,0.2,-2.5248,2016,February,Thursday,6,Return,Return
4,8802,CA-2018-140935,2018-11-10,2018-11-12,First Class,AB-10015,Aaron Bergman,Consumer,United States,Oklahoma City,...,221.980,2,0.0,62.1544,2018,November,Saturday,2,Not Return,Not Return
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,3815,CA-2018-152471,2018-07-08,2018-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,823.960,5,0.2,51.4975,2018,July,Sunday,0,Not Return,Not Return
9990,3816,CA-2018-152471,2018-07-08,2018-07-08,Same Day,ZD-21925,Zuschuss Donatelli,Consumer,United States,Jacksonville,...,15.984,2,0.2,4.9950,2018,July,Sunday,0,Not Return,Not Return
9991,5898,CA-2018-167682,2018-04-03,2018-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,71.120,4,0.0,22.0472,2018,April,Tuesday,6,Not Return,Not Return
9992,5899,CA-2018-167682,2018-04-03,2018-04-09,Standard Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Richmond,...,259.960,4,0.0,124.7808,2018,April,Tuesday,6,Not Return,Not Return
9993,8342,CA-2019-141481,2019-06-11,2019-06-14,First Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,Los Angeles,...,61.440,3,0.0,16.5888,2019,June,Tuesday,3,Not Return,Not Return

In [37]:
# Return vs Not Returned orders
print(df['Return_Status'].value_counts())

Return_Status
Not Return    8123
Return        1871
Name: count, dtype: int64

In [34]:
#. Total Refund / Loss due to returns
total_refund=df[df["Profit"]<0]["Profit"].sum()
print(total_refund)

-156131.28570000004

In [40]:
#Top 10 most profitable products
df.groupby("Order ID")["Profit"].sum().sort_values

<bound method Series.sort_values of Order ID
CA-2016-100006    109.6113
CA-2016-100090    -19.0890
CA-2016-100293     31.8696
CA-2016-100328      1.3257
CA-2016-100363      7.7192
                    ...
US-2019-168802      5.9696
US-2019-169320     16.6721
US-2019-169488     26.5552
US-2019-169502     32.4527
US-2019-169551    -62.2895
Name: Profit, Length: 5009, dtype: float64>

In [43]:
# Sales Trend 
sales=monthly_sales = df.groupby("month")["Sales"].sum()
print(sales)

month
April        137762.1286
August       159044.0630
December     325293.5035
February      59751.2514
January       94924.8356
July         147238.0970
June         152718.6793
March        205005.4888
May          155028.8117
November     352461.0710
October      200322.9847
September    307649.9457
Name: Sales, dtype: float64

In [46]:
# saved cleaned set
df.to_csv("cleaned_ecommerce_dataset.csv", index=False)
print("\n CLEANED DATA SAVED AS CLEANED_ecommerce_dataset.csv")

 CLEANED DATA SAVED AS CLEANED_ecommerce_dataset.csv

In [47]:
pwd

'C:\\Users\\mohan reddy'